/*8888888888888888888888888888888
     goggle font import link 
88888888888888888888888888888888*/
     @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/*8888888888888888888888888888888888
88888888  common styles  88888888888  
888888888888888888888888888888888888*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container{
    width: 1160px;
 
  
}
a{
    text-decoration: none;
    color: black;
}

/*8888888888888888888888888888888888
8888888888 navbar design 88888888888  
88888888888888888888888888888888888*/
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
ul{
    display: flex;
    padding-left: 0;
    
}
ul li{
    list-style: none;
    margin-right: 40px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 400;
    transition: transform .7s ease-out;
    display: block;
}
ul li a:hover{
    transform: scale(.9);
}
.btn{
    padding: 10px;
    background-color: rgba(255, 2, 2, 0.857);
    color: #fff;
    font-size: 20px;
    border-radius: 7px;
}
.btn:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
/*8888888888888888888888888888888888888888
88888888888 heading layout 888888888888888
8888888888888888888888888888888888888888888*/
header{
    display: flex;
    flex-direction: column;
    background-color: #7d60b37a;
    align-items: center;
    background-image:linear-gradient( rgb(3, 32, 163),rgba(18, 18, 19, 0.836)), url(../img/bg/fifa-bg.jpg);
    background-size: cover;
    height: 100vh;
    padding-bottom: 30px;
}

.heading-layout{
    display: flex;
    justify-content: space-between;
}

.heading-layout .heading h2{
    font-size: 110px;
    margin-bottom: 40px;
    color: #89e610;
    transition: transform .8s ease-in-out;
    margin-top: 40px; 
}

.heading-layout:hover .heading h2{
    transform: scale(1.2);
    
}
.heading{
    margin-top: 0;
}

.heading-layout:hover .heading-img .field .player {
    transform: rotate(-7deg);
}

.player{
    position: relative;
    width: 700px;
    margin-top: 70px;
    transform: rotate(-20deg);
    transition: transform .3s ease-out;
}

.player img{
    width: 100%;
}

.heading-layout:hover .heading-img .field .ball{
    transform: translate(-125px,-262px);
}
.ball{
    width: 130px;
    position: relative;
    top: -340px;
    transition: transform .2s ease-in-out .4s;
}
.ball img{
    width: 100%;
}

/*888888888888888888888888888888888888888888888
888888888888 main layout design 888888888888888  
8888888888888888888888888888888888888888888888*/

/* footballer section  */
.football-player,.highlights-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
.footballer-grid{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-gap: 3%;
    grid-row-gap: 1.8%;
    margin-bottom: 58px;
}

.footballer-grid .footballer-card .footballer img{
    width: 100%;
}
.footballer-card{
    padding: 20px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.footballer-info p{
    font-size: 20px;
}

/* highlights section  */
.highlights-section{
    background-image:linear-gradient( rgba(32, 136, 248, 0.508),rgb(7, 14, 11)), url(../img/layout/159-1598715_fifa-world-cup-holland-team-wallpapers-hd-quote.jpg);
    background-size: cover;
    height: 100vh;
}
.highlights-flex{
    display: flex;
    align-items: center;
    
}
.highlights-info,
.highlights-img{
    width: 50%;
    margin: 5%;
    
}



.highlights-flex .highlights-img img{
    width: 100%;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: .5%;
    
    
    
}

.highlights-info h2{
    font-size: 70px;
    line-height: 30px;
    font-weight: 700;
    color: #fff;
}

.highlights-info p{
    font-size: 25px;
    color: #fff;
    
}

/* signup design  */
.signup-section{
    display: flex;
    justify-content: center;
    background-image:linear-gradient( rgb(173, 174, 175),rgba(18, 18, 19, 0.836)), url(../img/bg/stadium.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat; 
}
.signup-section-logo{
    background-image: url(../img/logo/Lovepik_com-400303767-colorful-football.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: bottom center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.form-box{
    width: 50%;
    
}




.form-box input{
    width: 100%;
    border: none;
    background-color: #0527e891;
    background-image: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);
    padding: 10px;
    border-radius: 5px;
    font-size: 22px;
    box-sizing: border-box;
    box-shadow: 0 0 290px .02px;
    margin-bottom: 20px;
    
}
.form-box input:hover::placeholder{
    font-size: 20px;
}
::placeholder {
    color:#fff;
    opacity: 1;
    transition: font-size .3s ease-in;
  }
  
.form-box input:focus{
    
    outline: none;
    color: #fff;
}
.form-box input:focus::placeholder{
    
    visibility: hidden;
}
.sign-btn{
    height: 100px;
    width: 100px;
}
.frm-btn{
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: -20px;
}


